@page "/selectzones"
@inject HttpClient Http

<br />
<div class="row justify-content-between">
    <div class="col-4">
        <div style="width: inherit">Замовлення: <span class="dot"></span></div>
    </div>
    <div class="col-4" style="text-align: right">
        <div style="width: inherit">Кількість замовленнь: 21</div>
    </div>
</div>
<br />
<div class="row"  style="margin-top: 1%;">
    <div class="col-md-6">
       
            <div class="card gg"   style="background-color: #258323; min-height: 117%; ">
                <div class="card-body">
                    <div class="container" style="padding-top: 3%;">
                        <div class="row justify-content-center align-items-center">

                            <div class="col-md-12" style="text-align: center; margin-bottom: 4%;"><img src="basket.png" /></div>
                            <div class="col-md-12" style="text-align: center; color: white;">Зелена</div>
                            <div class="col-md-12" style="text-align: center; color: white;">Можливий опис</div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
    <div class="col-md-6">
       
            <div class="card gg"  style="background-color: #2d2d97; min-height: 117%; ">
                <div class="card-body">
                    <div class="container" style="padding-top: 3%;">
                        <div class="row justify-content-center align-items-center">

                            <div class="col-md-12" style="text-align: center; margin-bottom: 4%;"><img src="basket.png" /></div>
                            <div class="col-md-12" style="text-align: center; color: white;">Синій</div>
                            <div class="col-md-12" style="text-align: center; color: white;">Можливий опис</div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<br/>
<br/>
<br/>

<div class="row">
    <div class="col-md-6">
     
            <div class="card gg"  style="background-color: orange; min-height: 117%; ">
                <div class="card-body">
                    <div class="container" style="padding-top: 3%;">
                        <div class="row justify-content-center align-items-center" >

                            <div class="col-md-12" style="text-align: center; margin-bottom: 4%;"><img src="basket.png" /></div>
                            <div class="col-md-12" style="text-align: center; color: white;">Жовтий</div>
                            <div class="col-md-12" style="text-align: center; color: white;">Можливий опис</div>
                        </div>
                    </div>
                </div>
            </div>
    
    </div>
    <div class="col-md-6">
      
            <div class="card gg"  style="background-color: #1c1818; min-height: 117%; ">
                <div class="card-body">
                    <div class="container" style="padding-top: 3%;">
                        <div class="row justify-content-center align-items-center">

                            <div class="col-md-12" style="text-align: center; margin-bottom: 4%;"><img src="basket.png" /></div>
                            <div class="col-md-12" style="text-align: center; color: white;">Червоний</div>
                            <div class="col-md-12" style="text-align: center; color: white;">Можливий опис</div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>

<div class="row justify-content-between"  style="margin-top: 8%;">
    <div class="col-4">
        <a class="btn btn-outline-warning btn-lg" href="/" style="width: inherit">Назад</a>
    </div>
    <div class="col-4">
        <a class="btn btn-success btn-lg" style="width: inherit; color: white; cursor: pointer;" href="orderdetails">Взяти в роботу</a>
    </div>
</div>