@page "/noorder"

<div class="container h-100" style="margin-top: 10%;">
  <div class="row h-100 justify-content-center align-items-center">
  
      <div class="col-md-12" style="text-align: center; "> <img src="no_order.png" /></div>
      
      <div class="col-md-12" style="text-align: center; margin-top: 7%;"><h2>Активні завдання відсутні</h2></div>
     
    <div class="col-md-12" style="text-align: center; margin-top: 7%;"> <a class="btn btn-outline-warning btn-lg" href="selectzones" style="width: inherit">Обновити сторінку</a></div>
</div>
</div>


@code {

}
