<a href="orderdetails" class="d-flex justify-content-center align-items-center"
   style="margin-top: 7%; height: 428px; background-color: red; color: white; text-decoration: none;">

    Взять в работу
</a>
@code {

}
