@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar collapse">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" style="background-color: #232E83;">
            <img src="logo.png"/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>